@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

.contentHeadings {
    border-bottom: 1px solid rgb(146, 145, 145);
}

.contentHeading {
    font-family: 'Poiret One', cursive;
    font-size: 3vmax;
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
}

.contentHeading2 {
    font-family: 'Poiret One', cursive;
    position: relative;
    float: right;
    bottom: 0px;
}

.contentContainer {
    margin-top: 7vh;
    margin-bottom: 10vh;
    margin-left: 7vh;
    margin-right: 7vh;
    font-family: 'Open Sans Condensed', sans-serif;
}

.content {
    margin-top: 1vh;
    font-family: 'Poiret One', cursive;
}


